{% extends 'frontend/base.html' %}

{% block title %}
  <div class="title-wrapper">
    <h1 id="title">Catalog</h1>
  </div>
{% endblock title %}

{% block content %}
  <div class="container">
    <div id="catalog-container">

      
      <div id="search-form-wrapper">
        <div class="flex-wrapper">
          <div style="flex: 6">
            <input id="search-input" type="text" class="form-control" name="search"
            placeholder="Enter some text to search...">
          </div>
          <div style="flex: 1">
            <button id="search-btn" class="btn">Search</button>
          </div>
        </div>
      </div>
      
      <div id="selected-wrapper"></div>

      <div id="list-wrapper"></div>

      <div id="pagination-wrapper" class="pagination"></div>
    </div>
  </div>
{% endblock %}