body {
  background-color: steelblue;
}

#catalog-container {
  max-width: 600;
  margin: 0 auto;
  box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .25);

  background-color: white;

  margin-top: 50px;
  margin-bottom: 100px;

  justify-content: space-around;
  align-items: flex-start;
}

#search-form-wrapper {
  position: -webkit-sticky;
  top: 0rem;
  border-bottom: 1px solid #e9e9e9;
  background-color: white;
  box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
  padding: 40px;
}

#search-btn {
  background-color: teal;
  border-radius: 0;
  border: 0;
  color: white;
}

.title-wrapper {
  position: -webkit-sticky;
  margin: 0 auto;
  display: flex;
  margin-top: 30px;

  justify-content: space-around;
  align-items: flex-start;
  color: white;
}

.flex-wrapper {
  display: flex;
}

.book-header-wrapper {
  margin: 10px;
  padding: 10px;
  border-bottom: 4px solid #cfcfcf;
  color: #000000;
}

.books-header {
  font-weight: bold;
}

.book-wrapper {
  margin: 5px;
  padding: 20px;
  border-bottom: 1px solid #e9e9e9;
  color: #686868;
}

.book-pointer {
  cursor: pointer;
}

.pagination {
  position: -webkit-sticky;
  margin: 0 auto;
  display: flex;
  margin-top: 30px;

  justify-content: center;
  align-items: flex-start;
  color: white;
}

.pagination button{
  color: white;
  background-color: teal;
  border-radius: 2px;
  float: left;
  padding: 7px 14px;
  margin: 10px;
  /* text-decoration: none; */
  transition: background-color .3s;
}

.pagination button :disabled {
  background-color: gray;
}

.details-title {
  color: #686868;
  margin: 5px;
  padding: 10px;
  border-bottom: 1px solid #e9e9e9;
}

.suggestion-title {
  color: #888787;
  margin: 5px;
  padding: 10px;
}

#book_keywords p {
  color: rgb(2, 2, 148);
  padding-right: 5px;
  font-weight: bold;  
  display: inline-block;
  cursor: pointer;
}

#selected-wrapper {
  background-color: rgb(230, 222, 213);
}

.selected-header {
  font-weight: bold;
  color: rgb(25, 21, 31);
}